#voting {
  display: none;
}

.user {
  min-height: 150px;
}

.avatar {
  border-radius: 6px;
  max-width: 150px !important;
  margin-bottom: 3px;
}

span.user-vote {
  display: inline-block;
  position: relative;
  min-width: 45px;
  min-height: 43px;
  padding: 10px;
  margin-right: 1em;
  border: gray solid 1px;
  border-radius: 6px;
  text-align: center;
}

span.user-name {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}
